@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

$font-stack: "Comfortaa", Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}
